
<h1>Post content/comment</h1>
<div class="center">
  <h2><%= @post_content %></h2>
</div>

 <div class="row">
    <%  @comments_list.each do |cc| %>
      <div class="col-md-6 col-md-offset-3">
        Comment: <%= link_to cc.title, post_comment_path({ :id => cc.id }) %>
      </div>
    <% end %>
  </div>
 

<div class="row">
  
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for([:post, @comment]) do |f| %>

      <%= f.input :title %>

      <%= f.input :content, :as => :kindeditor %>

      <%= f.button :submit, "Create new comments", class: "btn btn-primary" %>
    
    <% end %>
  </div>