<h1>Sign up</h1>

<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@user) do |f| %>

      <%= f.input :name, placeholder: 'eg.James' %>

      <%= f.input :email, placeholder: 'user@domain.com' %>

      <%= f.input :password, placeholder: 'password' %>

      <%= f.input :password_confirmation, placeholder: 'password' %>

      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

   </div>

</div>