<h1>Create post</h1>
<div class="row">
  
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@post) do |f| %>

      <%= f.input :title %>

      <%= f.input :content, :as => :kindeditor %>
       
      <%= f.simple_fields_for :image, @post.image do |image_fields| %>  
        <%= image_fields.input :path %>  
      <% end %>

      <%= f.button :submit, "Create new post", class: "btn btn-primary" %>

    <% end %>

    <div class="col-md-12">Post list:</div>
    <div class="col-md-6">
      <% @post_list.each do |post| %>
        <ul class="list_group">
          <li class="list_group_item"><%= link_to post.title, post_path(post) %></li>
        </ul>
      <% end %>
    </div>

  </div>

  </div>

